<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    
    <a href="#" class="navbar-brand">
      <img src="https://meteor.id/assets/logo.svg"/>
    </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="articles" class="nav-link">List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">New Article</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <h4>{{ title }}</h4>
    <router-outlet></router-outlet>
  </div>
</div>
